[submodule "hump"]
	path = hump
	url = git://github.com/vrld/hump
[submodule "hc"]
	path = hc
	url = https://github.com/vrld/HC
[submodule "suit"]
	path = suit
	url = https://github.com/vrld/suit.git
